<launch>
    <!-- 设置地图的配置文件 -->
<!--    自行更改地图路径-->
    <arg name="map" default="$(find MapManager)/maps/RaceMap.yaml"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen"/>

    <!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find MapManager)/rviz/MapManager.rviz"/>
</launch>

